<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new visitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
    <header>
        <div th:insert="fragments/header :: navbar"></div>
    </header>

    <div>
        <b th:if ="${userName == null}">Please, add new visitor!</b>
        <p th:if ="${userName != null}" th:text="'Visitor '+${userName}+' added!'"></p>
    </div>

    <div>
        <div>
            <div>
                <b>Add visitor</b>
            </div>
            <form method="post" action="add">
                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="login">Login:</label>
                    <input type="text" class="form-control" id="login" placeholder="Enter login" name="login">
                </div>

                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password"
                           placeholder="Enter password" name="password">
                </div>

                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>

                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="surname">Surname:</label>
                    <input type="text" class="form-control" id="surname" placeholder="Enter surname" name="surname">
                </div>

                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>

                <div class="form-group w-25 col-lg-4 col-lg-offset-4">
                    <label for="role">Select role:</label>
                    <select class="form-control" id="role" name="role">
                        <option>visitor</option>
                        <option>trainer</option>
                        <option>admin</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            &nbsp;
            <div>
                <button onclick="location.href='/views/user'" type="button" class="btn btn-primary btn-lg">
                    Back to main
                </button>
            </div>

        </div>
    </div>
</body>
</html>


