<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<header>
    <div th:insert="fragments/header :: navbar"></div>
</header>

<div class="container mt-3">
    <h2 th:text="${trainerName} + ' ' + ${trainerSurname} + ' review page'"></h2>
    <p th:if="${isAlreadyCommented == true}">You have already rated this trainer</p>
    <p th:if="${averageRating == null}">0</p><br>
    <p th:if="${averageRating != null}" th:text="'Average rating: ' + ${averageRating} + '. Based on ' + ${votesNumber} + ' votes.'"></p><br>
</div>

<div class="container mt-3" th:each="review : ${reviews}">

    <div class="media mt-3">
        <img src="" class="align-self-center mr-3" style="width:60px">
        <div class="media-body">
            <h4 th:text="${review.visitor.name} + ' ' + ${review.visitor.surname}"></h4>
            <p th:text="'Rating: ' + ${review.rating}"></p>
            <p th:text="${review.review}"></p>
        </div>
    </div>
</div>

<div class="container">
    <ul class="pagination pagination-lg justify-content-center">
        <li th:if ="${previousPage < 1}" class="page-item disabled">
            <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${previousPage}}">Previous</a>
        </li>
        <li th:if ="${previousPage > 0}" class="page-item">
            <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${previousPage}}">Previous</a>
        </li>
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li th:if ="${i == currentPage}" class="page-item active">
                        <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${i}}">[[${i}]]</a>
                    </li>
                    <li th:if ="${i != currentPage}" class="page-item">
                        <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${i}}">[[${i}]]</a>
                    </li>
            </span>
        <li th:if ="${nextPage > totalPages}" class="page-item disabled">
            <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${nextPage}}">Next</a>
        </li>
        <li th:if="${nextPage < totalPages + 1}" class="page-item">
            <a class="page-link" th:href="@{'/views/visitor/trainerList/review/' + ${trainerId} + '/' + ${nextPage}}">Next</a>
        </li>
    </ul>
</div>

<div class="container">
    <h2>Leave your comment and rating for trainer:</h2>
    <form method="post" name="/views/visitor/trainerList/review/{trainerId}">
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="stars" value="1">Star 1
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="stars" value="2">Star 2
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio3">
                <input type="radio" class="form-check-input" id="radio3" name="stars" value="3">Star 3
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio4">
                <input type="radio" class="form-check-input" id="radio4" name="stars" value="4">Star 4
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio5">
                <input type="radio" class="form-check-input" id="radio5" name="stars" value="5" checked>Star 5
            </label>
        </div>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
        <button onclick="location.href='/views/visitor/trainerList'" type="button" class="btn btn-primary btn-lg">
            Back to main
        </button>
    </div>
</div>



</body>
</html>
