<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-spacing="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/en-gb.js"></script>


</head>
<body>
<header>
    <div th:insert="fragments/header :: navbar"></div>
</header>

<head>
    <title>Scheduled visits</title>
</head>
<body>
<div class="container mt-3">
    <div>
        <h1>Scheduled visits</h1>
        <p>Type something in the input field to search the table for any field:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <div th:if ="${scheduledVisits == null}">
        <div th:inline="text">There are no scheduled visits!</div>>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Experience years</th>
            <th>Additional info</th>
            <th>Registration date</th>
        </tr>
        </thead>

        <tbody border-spacing: id="myTable">
        <!--            <c:forEach var="trainer" items="${trainers}">-->
        <tr th:each="visit : ${scheduledVisits}">
            <td>
                <dd th:if ="${visit.trainer.name == null}">null</dd>
                <dd th:if ="${visit.trainer.name != null}" th:text="${visit.trainer.name}"></dd>
            </td>

            <td>
                <dd th:if ="${visit.trainer.surname == null}">null</dd>
                <dd th:if ="${visit.trainer.surname != null}" th:text="${visit.trainer.surname}"></dd>
            </td>

            <td>
                <dd th:if ="${visit.trainer.trainer.experienceYears == null}">null</dd>
                <dd th:if ="${visit.trainer.trainer.experienceYears != null}" th:text="${visit.trainer.trainer.experienceYears}"></dd>
            </td>

            <td>
                <dd th:if ="${visit.trainer.trainer.additionalInfo == null}">null</dd>
                <dd th:if ="${visit.trainer.trainer.additionalInfo != null}" th:text="${visit.trainer.trainer.additionalInfo}"></dd>
            </td>

            <td>
                <dd th:if ="${visit.trainingDate == null}">null</dd>
                <dd th:if ="${visit.trainingDate != null}" th:text="${visit.trainingDate}"></dd>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div>
    <button onclick="location.href='/views/user'" type="button" class="btn btn-primary btn-lg">
        Back to main
    </button>
</div>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>