<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-spacing="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/lang/en-gb.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>
    <header>
        <div th:insert="fragments/header :: navbar"></div>
    </header>

    <head>
        <title>Visitor main page</title>
    </head>
    <body>
    <div class="container mt-3">
    <div>
        <h1>List of trainers</h1>
        <p>Type something in the input field to search the table for any field:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </div>
    <div th:if ="${trainers == null}">
        <div th:inline="text">There are no free trainers yet!</div>>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/views/visitor/trainerList/page/' + ${currentPage} + '?sortField=user.name&sortDir=' + ${reverseSortDir}}">
                    Name
                </a>
            </th>
            <th>
                <a th:href="@{'/views/visitor/trainerList/page/' + ${currentPage} + '?sortField=user.surname&sortDir=' + ${reverseSortDir}}">
                    Surname
                </a>
            </th>
            <th>
                <a th:href="@{'/views/visitor/trainerList/page/' + ${currentPage} + '?sortField=experienceYears&sortDir=' + ${reverseSortDir}}">
                    Experience years
                </a>
            </th>
            <th>
                <a th:href="@{'/views/visitor/trainerList/page/' + ${currentPage} + '?sortField=additionalInfo&sortDir=' + ${reverseSortDir}}">
                    Additional info
                </a>
            </th>
            <th>REVIEW</th>
            <th>REGISTRATION</th>
        </tr>
        </thead>

        <tbody border-spacing: id="myTable">
        <!--            <c:forEach var="trainer" items="${trainers}">-->
        <tr th:each="trainer : ${trainers}">
            <td>
                <dd th:if ="${trainer.user.name == null}">null</dd>
                <dd th:if ="${trainer.user.name != null}" th:text="${trainer.user.name}"></dd>
            </td>

            <td>
                <dd th:if ="${trainer.user.surname == null}">null</dd>
                <dd th:if ="${trainer.user.surname != null}" th:text="${trainer.user.surname}"></dd>
            </td>

            <td>
                <dd th:if ="${trainer.experienceYears == null}">null</dd>
                <dd th:if ="${trainer.experienceYears != null}" th:text="${trainer.experienceYears}"></dd>
            </td>

            <td>
                <dd th:if ="${trainer.additionalInfo == null}">null</dd>
                <dd th:if ="${trainer.additionalInfo != null}" th:text="${trainer.additionalInfo}"></dd>
            </td>

            <td>
                <button th:onclick="|window.location.href='/views/visitor/trainerList/review/${trainer.user.id}'|" type="button" class="btn btn-primary">
                    Review
                </button>
            </td>

            <td>
                <script>
                    $(function () {
                        $("#datepicker").datetimepicker({
                            timepicker:true,
                            datepicker:true,
                            locale: 'ru',
                            changeMonth: true,
                            changeYear: true,
                            format: 'DD/MM/YYYY HH:mm',
                            yearRange:'2019:2020',
                            allowTimes:[
                                '12:00', '13:00', '15:00',
                                '17:00', '17:05', '17:20', '19:00', '20:00'
                            ],
                            minDate:'-1970/01/02',
                            maxDate:'+1970/01/02',
                            yearStart:2020,
                            yearEnd:2020
                        });
                    });
                </script>

        <form method="post" name="/views/visitor/trainerList">
            <label for="datepicker"></label>
                <input type="datetime-local" name="datepicker" id="datepicker">
            <button type="submit" class="btn btn-primary"
                    th:value="${trainer.user.id}" name="trainerId">Submit</button>
        </form>

            </td>
        </tr>

        <!--            </c:forEach>-->
        </tbody>
    </table>
    </div>
    </body>
    <div class="container">
        <ul class="pagination pagination-lg justify-content-center">
            <li th:if ="${previousPage < 1}" class="page-item disabled">
                <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${previousPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Previous</a>
            </li>
            <li th:if ="${previousPage > 0}" class="page-item">
                <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${previousPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Previous</a>
            </li>
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li th:if ="${i == currentPage}" class="page-item active">
                        <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${i} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                    <li th:if ="${i != currentPage}" class="page-item">
                        <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${i} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                </span>
            <li th:if ="${nextPage > totalPages}" class="page-item disabled">
                <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${nextPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
            </li>
            <li th:if="${nextPage < totalPages + 1}" class="page-item">
                <a class="page-link" th:href="@{'/views/visitor/trainerList/page/' + ${nextPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
            </li>
        </ul>
    </div>
    <div>
        <button onclick="location.href='/views/user'" type="button" class="btn btn-primary btn-lg">
            Back to main
        </button>
    </div>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>
</html>