<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:border-spacing="http://www.w3.org/1999/xhtml">
<head>
    <title>Users list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <header>
        <div th:insert="fragments/header :: navbar"></div>
    </header>
<div>
    <h1>List of users!</h1>
</div>

<div>
    <div class="container mt-3" >
        <div>
            <h2>Users</h2>
            <p>Type something in the input field to search the table for any field:</p>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
        <div th:if ="${users == null}">null</div>

        <table class="table">
            <thead>
            <tr>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
                        ID
                    </a>
                </th>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=login&sortDir=' + ${reverseSortDir}}">
                        LOGIN
                    </a>
                </th>
                <th th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=password&sortDir=' + ${reverseSortDir}}">
                    <a>
                        PASSWORD
                    </a>
                </th>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                        NAME
                    </a>
                </th>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=surname&sortDir=' + ${reverseSortDir}}">
                        SURNAME
                    </a>
                </th>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                        EMAIL
                    </a>
                </th>
                <th>
                    <a th:href="@{'/views/admin/userList/page/' + ${currentPage} + '?sortField=role&sortDir=' + ${reverseSortDir}}">
                        ROLE
                    </a>
                </th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody border-spacing: id="myTable">
                <tr th:each="user : ${users}">
                    <td>
                        <dd th:if ="${user.id == null}">null</dd>
                        <dd th:if ="${user.id != null}" th:text="${user.id}"></dd>
                    </td>

                    <td>
                        <dd th:if ="${user.login == null}">null</dd>
                        <dd th:if ="${user.login != null}" th:text="${user.login}"></dd>
                    </td>

                    <td>
                            <dd th:if ="${user.password == null}">null</dd>
                            <dd th:if ="${user.password != null}" th:text="${user.password}"></dd>
                    </td>

                    <td>
                        <dd th:if ="${user.name == null}">null</dd>
                        <dd th:if ="${user.name != null}" th:text="${user.name}"></dd>
                    </td>

                    <td>
                            <dd th:if ="${user.surname == null}">null</dd>
                            <dd th:if ="${user.surname != null}" th:text="${user.surname}"></dd>
                    </td>

                    <td>
                        <dd th:if ="${user.email == null}">null</dd>
                        <dd th:if ="${user.email != null}" th:text="${user.email}"></dd>
                    </td>

                    <td>
                        <dd th:if ="${user.role == null}">null</dd>
                        <dd th:if ="${user.role != null}" th:text="${user.role}"></dd>
                    </td>


                    <td>
                        <dd>
<!--                            <a href="#" data-toggle="modal" data-target="#resetPwModal${customer.uuid }">reset</a>-->
<!--                            th:attr="data-target='#customerModel'+${customer.uuid }"-->
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                      th:attr="data-target='#updateModal'+${user.id}">
                                Edit
                            </button>

                            <!-- The Update Modal -->
<!--                            <div class="modal" id="UpdateModal" th:id="${user.id}">-->
                            <div class="modal"  th:attr="id='updateModal'+${user.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update User</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <form method="post" name="/views/list">
                                                <div class="form-group">
                                                    <label for="id">ID:</label>
                                                    <input type="text" readonly class="form-control" id="id"
                                                           th:value="${user.id}" name="id">
                                                </div>
                                                <div class="form-group">
                                                    <label for="login">Login:</label>
                                                    <input type="text" name="login" class="form-control" id="login"
                                                           th:value="${user.login}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="pwd">Password:</label>
                                                    <input type="password" class="form-control" id="pwd"
                                                           th:value="${user.password}" name="password">
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Name:</label>
                                                    <input type="text" class="form-control" id="name"
                                                           th:value="${user.name}" name="name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" class="form-control" id="surname"
                                                           th:value="${user.surname}" name="surname">
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email:</label>
                                                    <input type="email" class="form-control" id="email"
                                                           th:value="${user.email}" name="email">
                                                </div>
                                                <label for="role">Select new role:</label>
                                                <select class="form-control" id="role" name="role">
                                                    <option >visitor</option>
                                                    <option>trainer</option>
                                                    <option>admin</option>
                                                </select>
                                                &nbsp;&nbsp;
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </form>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                    th:attr="data-target='#deleteModal'+${user.id}">Delete
                            </button>
                            <!-- The Delete Modal -->
                            <div class="modal" th:attr="id='deleteModal'+${user.id}">
                                <form method="post" name="/views/list">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title" th:text="'Are you sure want to delete
                                                    user with id '+${user.id}+'?'"></h4>
                                            </div>

                                            <div class="modal-body">
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary"
                                                                th:value="${user.id}" name="deleteId">YES
                                                        </button>
                                                        <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal">NO
                                                        </button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <ul class="pagination pagination-lg justify-content-center">
            <li th:if ="${previousPage < 1}" class="page-item disabled">
                <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${previousPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Previous</a>
            </li>
            <li th:if ="${previousPage > 0}" class="page-item">
                <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${previousPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Previous</a>
            </li>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li th:if ="${i == currentPage}" class="page-item active">
                        <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${i} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                    <li th:if ="${i != currentPage}" class="page-item">
                        <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${i} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>
                </span>
            <li th:if ="${nextPage > totalPages}" class="page-item disabled">
                <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${nextPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
            </li>
            <li th:if="${nextPage < totalPages + 1}" class="page-item">
                <a class="page-link" th:href="@{'/views/admin/userList/page/' + ${nextPage} + '?sortField=' + ${sortField} +'&sortDir=' + ${sortDir}}">Next</a>
            </li>
        </ul>
    </div>
    <div>
        <button onclick="location.href='/views/user'" type="button" class="btn btn-primary btn-lg">
            Back to main
        </button>
    </div>
</div>
    &nbsp;<script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>
</html>
